{% extends "common/base.html" %}
{% load custom_filters %}

{% block content %}
<div class="container my-5">

    <h1 class="text-center">{{ view.object|default:"Add Section" }}</h1>
    <hr class="my-4">
    
    <div class="card shadow-sm p-4">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="mb-3">
                    <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
                    {{ form.section_name|add_class:"form-control" }}
                    {% if form.section_name.errors %}
                    <div class="text-danger mt-1">
                        {% for error in form.section_name.errors %}
                            <p class="mb-0">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.content.id_for_label }}" class="form-label">Content</label>
                    {{ form.text|add_class:"form-control"}}
                </div>
            </div>

            <div class="d-flex justify-content-between">

                <button type="submit" class="btn btn-success btn-lg">
                    <i class="bi bi-save"></i> Save
                </button>
                
                <a href="{% url 'lecture-details' lecture.slug %}" class="btn btn-outline-secondary btn-lg">
                    <i class="bi bi-x-circle"></i> Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
