{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Left side options -->
        <ul class="navbar-nav me-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lectures' %}">
                        <i class="nav-icon bi bi-book"></i> Lectures
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'questions' %}">
                        <i class="nav-icon bi bi-question-circle"></i> Questions
                    </a>
                </li>
            {% endif %}
        </ul>

        <!-- Logo -->
        <a class="navbar-brand mx-auto" href="{% url 'home' %}">
            <i class="bi bi-gear-fill" ></i> CodeFlow
        </a>

        <!-- Right side options -->
        <ul class="navbar-nav ms-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile-details' request.user.pk %}">
                        {% if request.user.profile.profile_picture.url %}
                            <!-- Profile picture -->
                            <img src="{{ request.user.profile.profile_picture.url }}" 
                                 alt="Profile Picture" 
                                 class="rounded-circle" 
                                 style="width: 30px; height: 30px; object-fit: cover;">
                        {% else %}
                            <!-- Default icon if no profile picture -->
                            <i class="nav-icon bi bi-person-circle"></i>
                        {% endif %}
                        {{ navbar_user.username }}
                    </a>
                </li>
                <!-- Logout Button -->
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="document.getElementById('logout-form').submit();">
                        <i class="nav-icon bi bi-box-arrow-right"></i> Logout
                    </a>
                </li>
                <!-- Hidden Logout Form -->
                <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                    {% csrf_token %}
                </form>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="nav-icon bi bi-box-arrow-in-right"></i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">
                        <i class="nav-icon bi bi-person-plus"></i> Register
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
